

.navdash button {
    background-color:  rgb(23, 214, 49);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 5px forestgreen;
    outline: none;
    margin: 10px;
    cursor: pointer;
}

.navdash button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(23, 214, 49);
    transform: scale(1.05);
    transition: 0.3s;
  }