.App {
  margin: 0;
  text-align: center;
  padding: 0;
}

.login {
  text-align: center;
}
.error {
  color: red;
  margin: 10px;
}

.header {
  display: flex;
  border-bottom: 1px solid #999;
}

.header a {
  margin: 10px;
  text-decoration: none;
}

.header a:hover{
  transform: scale(1.1);
  transition: 0.2s;
}




